
baseurl= "https://nomadknitter.com/"
disablePathToLower = false
languageCode = "en-us"
title = "Nomad Knitter"
copyright ="&copy; 2018 Erik Bethke. "

theme = "hugo_theme_beg-master"

# Disqus shortcode
# Disable comments for any individual post by adding "comments: false" in its frontmatter
# Note it's not under [params] anymore
disqusShortname = "Your disqus shortname"

# Number of blog posts in each pagination page
paginate = 4

# Code highlighting options

# Highlight shortcode and code fences (```) will be treated similarly
pygmentscodefences = true

# Use CSS for highlighting
pygmentsuseclasses = true

# pygments options can be added here (and in the highlight shortcode in the markdown file)
# Hugo supports these pygments options: style, encoding, noclasses, hl_lines, linenos
# for example: pygmentsoptions = "linenos=true"

[permalinks]
post = "/blog/:year-:month-:day-:title/" # change the post URL to look like the old ones

# Make tags and categories work
# As of Hugo v0.33 these are not needed anymore
# [indexes]
#   tag = "tags"
#   category = "categories"

[params]

  tags = ["blog", "science", "code", "development", "website"]

  # --- Start sidebar options ---
  # Number of last posts that will be displayed in the sidebar - set to 0 or remove to hide this section
  sidebarRecentLimit = 5

  # Sidebar header - passed to markdownify so you can write markdown here
  sidebarHeader = "Sidebar Header"

  # Sidebar text also supports markdown
  # New lines can be added with </br> or normal markdown (two spaces at the end of line or two new lines).
  # when adding two new lines, remember to remove the indentation otherwise the new line will be treated as a codeblock
  sidebarText = """Here's a [link to google](https://www.google.com)
  </br>
  Second line
  </br>
  Third line
  This line has two spaces in the end to create a new line using markdown
  Forth line
  """
  # Sidebar menu - if true will add a sidebar menu between sidebar text and recent posts
  sidebarMenuEnabled = true
  sidebarMenuHeader = "Sidebar Links"

  # sidebar links
  github = "https://github.com/parsiya/"
  bitbucket = "https://bitbucket.org/parsiya/"
  twitter = "https://twitter.com/cryptogangsta/"
  keybase = "https://keybase.io/parsiya/"
  stackoverflow = ""
  linkedin = ""
  googleplus = ""
  youtube = ""
  facebook = ""
  instagram = ""

  # --- End sidebar options ---

  # If set to true, navigation menu links will open in a new window with the exception of links to root ("/")
  # If this item does not exist or set to false, then navigation menu links will open in the same window
  navigationNewWindow = false

  # If false, all of blog post will appear on front page (and in pagination)
  truncate = true

  # Author's name (appears in meta tags and under posts)
  author = "Erik Bethke"

  # This text appears in the site header under website title
  subtitle = "Now backing up Earth..."

  # Search engine URL
  # searchEngineURL = "https://www.google.com/search"

  # Text of the "Continue Reading" label. &rarr; == right arrow, but it gets messed up in the string so it was added to index.html manually
  continueReadingText = "Would you like to know more?"

  # Google analytics code - remove if you do not have/want Google Analytics - needs JavaScript
  # googleAnalytics = "UA-XXXXX-X"

  # Optional piwik tracking
  #[params.analytics.piwik]
  #  URL = "https://stats.example.com"
  #  ID = "42"

  # Switch to true to enable RSS icon link
  rss = true

  # Set to true to use a text label for RSS instead of an icon
  # This is overwritten by the "rss" setting
  textrss = false

  # Website's default description
  defaultDescription = "The Million on Mars website"

  # Populate this with your own search keywords - these will appear in the meta tags
  # defaultKeywords = ["Mars" , "Space" , "Strategy Game" , "RTS"]

  # CSS override files
  # Paths should be relative to the `static` directory
  # customCSS = ["css/custom.css","css/custom2.css"]

  # 404.html header and text - both support markdown
  notFoundHeader = "There's nothing here"

  notFoundText = """Please either go back or use the navigation/sidebar menus.
  """

  # Set to true to hide ReadingTime on posts
  disableReadingTime = false

  # Set to true to disable downloading of remote Google fonts
  disableGoogleFonts = false

  # Remove or Set to false to use local fonts
  # remoteFonts = false
  
  # Remove or set to false to use FontAwesome CDN, otherwise the theme uses ForkAwesome local fonts.
  # fontAwesome = false

  # Generate taxonomy pages
  generateTaxonomyList = true

  # This is not needed unless alphabetical sort is needed
  # sortTaxonomyAlphabetical = true

  # Twitter card config
  # Enable with this.
  # twitterCardEnabled = true
  # Don't include the @.
  # twitterCardSite = 
  # twitterCardDomain = "parsiya.net"
  # Don't include the @.
  # twitterCardAuthor = "CryptoGangsta"

# Menu
# If navigationNewWindow (under [params]) is set to true then all links except root ("/") will open in a new window
# If it does not exist or is set to false then links will open in the same window
[[menu.main]]
  Name = "Blog"
  URL = "/Posts"
  weight = 1

[[menu.main]]
  Name = "Ad Astra"
  URL = "/About/about"
  weight = 2

[[menu.main]]
  Name = "Sailing"
  URL = "/About/sailing"
  weight = 3

[[menu.main]]
  Name = "Diving"
  URL = "/About/diving"
  weight = 4

[[menu.main]]
  Name = "The Crew"
  URL = "/About/team"
  weight = 5

[[menu.main]]
  Name = "FAQ"
  URL = "/About/faq"
  weight = 6

# Sidebar menus
# Enable with "sidebarMenuEnabled = true" under [params]
# Header text is "sidebarMenuHeader" under [params]


# Blackfriday is Hugo's markdown engine. Options are at: https://gohugo.io/overview/configuration/#configure-blackfriday-rendering
[blackfriday]
  hrefTargetBlank = true # open the external links in a new window
  fractions = false
